*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width:500px;
    height: 500px;
    margin: 50px auto;
    padding: 50px;
    background-color: rgb(247, 153, 30);
    border-radius: 20px;
    color:black;
    font-weight: 1000;
    word-spacing: 6px;
    font-size: 20px;
 
}
button{
    width: 150px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 10px;
    font-size: 20px;
    border: 0;
}
.edit{
    margin: 0;
    transition: 1s;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
ul li{
   list-style: none;
}
a{
    text-decoration: none;
}
.justify-between{
    justify-content: space-between;
}
.align-items{
    align-items: center;
}
header{
    width:100%;
    height:80px;
    background-color: #f59f2f;
}
.logo{
    line-height: 80px;
    margin: 0px 30px;
    font-size: 20px;
}
.menu{
    align-items: end;
}
.menu ul li{
    align-items: end;
    margin: 5px;
    margin-top: 30px;
}
.menu ul li a{
    font-size: 20px;
    color: black;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}
@media(max-width:575px){
    .menu{
        
        width: 100%;
        position: absolute;
    }
    .menu ul {
        flex-direction: column;
        left: -100%;
        margin-top: 70px;
        background-color: aqua;
        z-index: 9999;
        transition: 1s;
    }
    .menu ul li{
        padding: 10px;
        top:100px; 
     }
    
}
@media(min-width:576px){
    .d-sm-none{
        display: none;
    }
}
.toggle h1{
    font-size:25px;
    margin: 30px;
}
.toggle:hover ul{
    left:100%;
    transition: 1s;
    z-index: -1;
    top:0;
 }
 


